In [3]:
#4.1
import sys
sys.path.append(r"C:\PPython")

import zoo
zoo.hours()

 Open 9-5 daily

In [4]:
#4.2
import zoo as managerie
managerie.hours()

 Open 9-5 daily

In [12]:
#16.8
import sqlite3
import csv
import os
from sqlalchemy import create_engine, text

DB_FILE = r"C:\PPython\books.db"
CSV_FILE = r"C:\PPython\books2.csv"

if os.path.exists(DB_FILE):
    os.remove(DB_FILE)
    print(f"Removed existing database: {DB_FILE}")

conn = sqlite3.connect(DB_FILE)
curs = conn.cursor()
curs.execute('''
    CREATE TABLE book (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')
print(f"Database '{DB_FILE}' and table 'book' created successfully.")

ins_str = 'INSERT INTO book (title, author, year) VALUES (?, ?, ?)'
with open(CSV_FILE, 'r', encoding='utf-8') as infile:
    books = csv.DictReader(infile)
    for book_row in books:
        curs.execute(ins_str, (book_row['title'], book_row['author'], int(book_row['year'])))

conn.commit()
print(f"Data from '{CSV_FILE}' inserted into 'book' table successfully.\n")

print("16.6 - Titles in alphabetical order (sqlite3):")
for (title,) in curs.execute('SELECT title FROM book ORDER BY title ASC'):
    print(f"- {title}")

print("\n" + "-"*50 + "\n")

print("16.7 - All columns ordered by year (sqlite3):")
for title, author, year in curs.execute('SELECT title, author, year FROM book ORDER BY year ASC'):
    print(f"- {year}: {title} — {author}")

curs.close()
conn.close()

print("\n" + "-"*50 + "\n")

engine = create_engine(f"sqlite:///{DB_FILE}")

with engine.connect() as conn:
    result = conn.execute(text("SELECT title FROM book ORDER BY title ASC"))
    print("16.8 - Titles in alphabetical order (SQLAlchemy):")
    for row in result:
        print(f"- {row.title}")

Removed existing database: C:\PPython\books.db
Database 'C:\PPython\books.db' and table 'book' created successfully.
Data from 'C:\PPython\books2.csv' inserted into 'book' table successfully.

16.6 - Titles in alphabetical order (sqlite3):
- Perdido Street Station
- Small Gods
- The Spellman Files
- The Weirdstone of Brisingamen
- Thud!

--------------------------------------------------

16.7 - All columns ordered by year (sqlite3):
- 1960: The Weirdstone of Brisingamen — Alan Garner
- 1992: Small Gods — Terry Pratchett
- 2000: Perdido Street Station — China Miéville
- 2005: Thud! — Terry Pratchett
- 2007: The Spellman Files — Lisa Lutz

--------------------------------------------------

16.8 - Titles in alphabetical order (SQLAlchemy):
- Perdido Street Station
- Small Gods
- The Spellman Files
- The Weirdstone of Brisingamen
- Thud!